<div id="<%= dom_id client %>">
  <p>
    <strong>First name:</strong>
    <%= client.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= client.last_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= client.cpf %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

</div>
