<h3 class="text-center mx-auto">Clientes</h3><br>

<div class="row">
  <div class="col-12">
      <%= link_to new_client_path, class: 'btn btn-primary my-3' do %>
        <i class="bi bi-person-plus-fill"></i> Novo cliente
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <%= form_tag(clients_path, method: :get) do %>
        <%= text_field_tag :id_search, params[:id_search], placeholder: 'Procure pelo ID' %>
        <%= submit_tag 'Buscar', class: 'btn btn-primary my-3' %>
      <% end %>
  </div>
</div>

<div class="d-none d-md-block">
  <table class="table pt-5">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= "#{client.first_name} #{client.last_name}" %></td>
          <td><%= client.cpf %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td>
            <div class="d-flex gap-2 justify-content-beginning">
              <%= link_to client_path(client), class: 'btn btn-sm btn-outline-info mr-2' do %>
                <i class="bi bi-eye-fill"></i>
              <% end %>
              <%= link_to edit_client_path(client), class: 'btn btn-sm btn-outline-secondary mr-2' do %>
                <i class="bi bi-pencil"></i>
              <% end %>
              <%= button_to client_path(client), method: :delete, data: { turbo: false, method: :post }, class: 'btn btn-sm btn-outline-danger' do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </div> 
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
