<div class="container align-items-center">
  <div class="col-12">
    <h1 class="text-center mb-4"><%= @client.first_name %></h1>
      <div class="row">
         <div class="col-md-4 col-sm-12">
            <strong>Nome:</strong>
            <%= @client.first_name %>
         </div>
         <div class="col-md-4 col-sm-12">
            <strong>Sobrenome:</strong>
            <%= @client.last_name %>
         </div>
      </div> 
      <div class="row pt-2">
         <div class="col-md-4 col-sm-12">
            <strong>CPF:</strong>
            <%= @client.cpf %>
         </div>
         <div class="col-md-4 col-sm-12">
            <strong>Telefone:</strong>
            <%= @client.phone %>
         </div>
      </div>
      <div class="row pt-2">
         <div class="col-md-4 col-sm-12">
            <strong>Email:</strong>
            <%= @client.cpf %>
         </div>
      </div>   
  </div>
  <div class="row">
      <div class="d-flex justify-content-between pt-3">
        <%= link_to 'Voltar para clientes', clients_path, class: "btn btn-secondary" %>
        <%= link_to 'Editar cliente', edit_client_path(@client), class: "btn btn-success" %>
      </div>
  </div>
</div>

