<!DOCTYPE html>
<html>
  <head>
    <title>RailsCve201717917</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="pt-3">
      <%= render "shared/alerts" %>
    </div>
    <main> 
      <div class="container"> 
        <%= yield %>
      </div>
    </main>
  </body>
</html>
